*{
    padding: 0;
    margin: 0;
    border: none;
}
body{
    justify-content: space-between;
    align-items: center;
    background: #000;


}
section{
    position: relative;
    width: 90%;
    left: 50px;
    color: #fff;
    padding: 20px;
    top: 50px;
    display: flex;

}

.container{
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    display: flex;
    top: 60px;
    padding: 10px;
    
    left: 100px;
  
}
ul{
  list-style: none;
  position: fixed;
  display: flex;
  left: 0;
  align-items: center;
  flex-direction: column;
  top: 0;
  justify-content: space-around;
  height: 100vh;
  width: 50px;
  display: flex;
 
 
  
 
}

ul a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    transition: color 0.3s;
    text-decoration: none;
}
 a:hover{
    text-decoration: underline;
    font-weight:bolder;
    font-style: italic;
    font-size: 20px;
}
.row{
    position: relative;
    text-align: center;
    padding: 20px;
    width: 50%;
    height: auto;
    left: 50px;

}
.row h1{
    position: relative;
    bottom: 20px;
    font-size: 40px;
    bottom: 100px;
}
.row h2{
  position: relative;
  color: #ddd32d;
}
.name span{
    font-size: 25px;
    text-align: justify;
    top: 10px;

    position: relative;

}
.image{
  
    padding: 5px;
    align-items: center;
    float: right;

    
}
.image img{
    position: relative;
    height: 50vh;

}
.image :hover{
    border-radius: 10%;

}
button{
    padding: 20px;
    color: #fff;
    background: #373636;
    font-size: 1.4em;
    position: relative;
    top: 60px;
    width: 300px;
}

button:hover{
    color: #000;
    background: orange;
    border-radius: 10px;
    font-weight: bold;
    position: relative;
    transform: translateY(-5px);
  
}
.name p{
    color: #ffff;
    font-size: 20px;
   
}
.name{
    text-align: center;
    float: left;
    left: -100px;
    position: relative;

}
.name h1{
    
    display: block;
    top: 5px;
   
    font-weight: bold;
    font-size: 40px;
    text-align:center
   
}

.note{
    position: relative;
    text-align: justify;
    width: 100%;
    top: 30px;
    padding: 10px;

  
}
.menu{
  position: relative;
  float: right;
  font-size: 30px;
  color: #fff;
  display: block;
  right: -30px;

}
.hidden {
  display: none;
}
@media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      text-align: center;
    
    }
  
    .row, .image {
      width: 90%;
      bottom: 70px;
     
    
    }
  
    .image img {
      max-width: 60%;
      height: 250px;
      top: 10px;
      align-items: center;
 
    }
    button{
      width: 200px;
      bottom: 100px;
    
    }
    .note{
      left: -10px;
      font-size: 2px;
      
  
    }
  }
  @media screen and (max-width:1024px) {
    .container{
      padding: 20px;
    }
    h1{

    }
    
  }
  @media screen and (max-width: 480px) {
    .container {
      padding: 20px;
    }
  
    h1 {
      font-size: 24px;
    }
  
    h2 {
      font-size: 20px;
    }
  
     button {
      font-size: 16px;
      bottom: 30px;
      background: green;
    }
    image{
      bottom: 30px;
    }
    button {
      padding: 10px 20px;
    }
    .note{


    }
  }
  @media screen and (max-width: 320px) {
    .container {
      padding: 10px;
    }
    button{
      padding: 5px 10px;
      width: 100px;

    }
      
  }
  @media screen and (max-width:375px){
    .container{
      padding: 15px;
      
    }
    button{
      width: 190px;
    }
  }
  
  